@charset "utf-8";
::-moz-selection {
    background: #fc6060;
    color: #fff;
}
::-webkit-selection {
    background: #fc6060;
    color: #fff;
}
::selection {
    background: #fc6060;
    color: #fff;
}

/*--- Всплывающая подсказка ---*/
.wrap_element {
    position:relative;
    font-size: 12px;
    text-transform: none;
    font-weight: 100;
    color: #5a5a5a;
}
.wrap_element span {
    opacity: 0;
    position:absolute;
    top: -10px;
    right: 0px;
    background: #ececec;
    padding: 5px 10px;
    width: 98px;
    overflow: auto;
    text-align: center;
    transition: .3s;
    border-bottom: 2px solid #E25656;
    outline: 2px solid #fff;
}
.wrap_element:hover span {
    opacity: 1;
    transition: 0s;
}

/*--- Основная часть ---*/
body {
    font-family: PT Sans, Calibri;
    margin: 0;
    padding: 0px;
    cursor: default;
    color: #2e2e2e;
}
button:focus, input[type="button"]:focus {
    border: none;
    outline: none;
}
a {
    color: inherit;
    text-decoration:none;
}
.center {
    width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
    position: relative;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
button, input[type="submit"], input[type="button"]{
	margin: 10px 0;
	width: 240px;
	height: 40px;
	border: 0;
	outline: 0;
	background: #fc6060;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #fff;
	font-weight:700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: .3s;
	cursor: pointer;
	font-family: PT Sans, Calibri;
}
button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background: #E25656;
    transition: .2s;
}
textarea {
    font-size: 14px;
    font-family: PT Sans, Calibri;
}
/*--- Главное меню ---*/
.menuMain {
    background: #fff;
    width: 100%;
    text-transform:lowercase;
}
.menuMain ul {
    margin: 0;
    padding: 0;
}
.menuMain ul > li {
    display: inline;
}

/*--- Первая строка меню ---*/
.first.menuLevel {
    color:#7a7a7a;
    font-size: 13px;
    height: 40px;
}
.first.menuLevel ul {
    margin-left: 250px;
    padding: 12px 0;
    cursor: default;
}
.first.menuLevel ul > li {
    margin-right: 40px;
    padding: 12px 0 11px;
}
.first.menuLevel ul > li > a {
    padding: 12px 1px;
    transition: .3s
}
.first.menuLevel ul > li > a:hover {
    color: #fc6060;
    transition: .1s;
}

/*--- Вторая строка меню ---*/
.second.menuLevel {
	color: #2a2a2a;
	font-size: 16px;
	font-weight: 700;
	text-transform:uppercase;
	height: 80px;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	position: relative;
}
.second.menuLevel ul {
    margin: 30px 0;
    float: left;
}
.second.menuLevel ul > li {
    margin-right: 50px;
    cursor: pointer;
    transition: .3s;
}
.second.menuLevel ul > li:hover {
    color: #fc6060;
    transition: .1s;
}
.logo {
    width: 180px;
    height: 40px;
    float: left;
    margin: 20px 70px 20px 0px;
}
.mainButton {
    float: right;
    width: 123px;
}
.addPost, .findButton, .logIn {
	margin: 22px 0;
	width: 36px;
	height: 36px;
	background-color: #fc6060;	
	background-repeat: no-repeat;
	cursor: pointer;
	transition: .3s;
	margin-left: 5px;
	position: relative;
	float: left;
}
.addPost:hover, .findButton:hover, .logIn:hover {
    background-color: #E25656;
    transition: .2s;
}

.logIn {
    background-image: url(../img/icon/login.png);
    background-position: 10px;
}
.addPost {
    background-image: url(../img/icon/add.png);
    background-position: 10px;
}
.findButton {
    background-image:url(../img/icon/find.png);
    background-position: 9.5px;
}
.findLine {
    display: none;
    position: absolute;
    top: 22px;
    right: 56px;
}
.findLine > input {
    height: 26px;
    outline: none;
    border: 4px solid #fc6060;
    padding-left: 4px;
}
.findLine > input[type="url"]:focus {
    border: 4px solid #fc6060;
}
/*--- Третий уровень меню ---*/
.third.menuLevel {
    color: #3a3a3a;
    font-size: 13px;
    height: 50px;
    border-bottom: 1px solid #eaeaea;
}
.third.menuLevel ul {
    padding: 17px 0;
    display: inline-block;
}
.third.menuLevel ul > li {
    padding-right: 31px;
}
.third.menuLevel ul > li:nth-last-child(1) {
    padding-right: 0px;
}
.third.menuLevel ul > li > a {
    transition: .3s;
    padding: 16px 0;
}
.third.menuLevel ul > li > a:hover {
    color: #fc6060;
    transition: .1s;
}
.third.menuLevel ul > li  {
	background-image: url(../img/icon/menu.png);
	background-repeat: no-repeat;
	width: 14px;
	height: 15px;
	padding-left: 20px;
}
.third.menuLevel ul > li.clothing {
	background-position: 0px -169px;
}
.third.menuLevel ul > li.man {
	background-position: 0px -16px;
}
.third.menuLevel ul > li.gift {
	background-position: 0px -33px;
}
.third.menuLevel ul > li.jewelry {
	background-position: 0px -49px;
}
.third.menuLevel ul > li.accessory {
	background-position: 0px -67px;
}
.third.menuLevel ul > li.child {
	background-position: 0px -84px
}
.third.menuLevel ul > li.house {
	background-position: 0px -101px;
}
.third.menuLevel ul > li.pets {
	background-position: 0px -119px;
}
.third.menuLevel ul > li.stationery {
	background-position: 0px -136px;
}
.third.menuLevel ul > li.care {
	background-position: 0px -153px;
}
.third.menuLevel ul > li.other {
	background-position: 0px -185px;
}

/*--- Главный контент ---*/
.mainContent {
    background: url(../img/back.jpg);
	/*background: #5a5a5a;*/
	width: 100%;
	height: 300px;
	background-size: cover;
    text-align: center;
}
.mainContent h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
    padding-top: 90px;
    margin: 0;
    line-height: 40px;
    margin-bottom: 4px;
}
.mainContent input[type="button"] {
    padding: 7px 15px;
    color: #fff;
    border: 1px solid #fff;
    background: none;
    transition: .3s;
}
.mainContent input[type="button"]:hover {
    background: #fc6060;
    border-color: #fc6060;
    color: #fff;
    transition: .1s;
}

/*--- Страница отоброжения ---*/
.profileView {
    background: #f1f1f1;
    padding-bottom: 20px;
    padding-top: 20px;
}
/*--- Левая сторона ---*/
.leftSidebar { 
	width: 300px;
	background: #fff;
	float: left;
	margin-right: 20px;
	text-align:center;
	color: #2e2e2e;
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	padding-bottom: 10px;
    position: relative;
}
.leftSidebar img { 
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
}
.leftSidebar p {
    margin: 10px 0;
}
.leftSidebar h3 {
    margin: 5px 0 10px;
}

.sbName {
    font-size: 18px;
    font-weight: 700;
}
.sbCity {
    font-style:italic;
    font-size: 16px;
    font-weight: 700;
    color: #3a3a3a;
    padding-right: 18px;
}
.sbCity {
    margin-bottom: 14px;
}
.sbCity img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    margin-bottom: 0px;
}
.sbPhone, .sbSite, .sbSocial, .sbSkype {
    text-align: left;
    width: 220px;
    font-size: 14px;
    padding: 0 40px;
    margin: 10px 0;
}

.hrText {
    color: #9a9a9a;
    font-style:italic;
    font-size: 14px;
    position: relative;
}
.hrText span {
    background: #fff;
    position: relative;	
    z-index: 5;	
    padding: 0 10px;
}
.hrText:after {
    content: '';	
    display: block;
    width: 100%;
    height: 1px;
    background: #eaeaea;
    position: absolute;
    top: 9px;
    z-index: 1;
}

.profileButton {
    width: 240px;
    margin: 0px auto;
    transition: .2s;
    padding: 10px 0;
}
a.mailMakers {
	background: none;
	border: 2px solid #fc6060;
	color: #fc6060;
	margin: 0;
	float: left;
	padding: 8px 37px;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 35px;
	height: 16px;
    width: 124px;
}
.mailSquare {
    width: 40px;
    height: 40px;
    float: left;
    background-color: #fc6060;
}
.mailSquare .imageSquare {
	background: url(../img/icon/mailProfile.png) no-repeat;
	transition: .3s;
	width: 20px;
    height: 16px;
	margin: 12px 11px;
	background-position: -10px 0;
}
.profileButton:hover .mailSquare .imageSquare {
    background-position:0 0;
    transition: .2s;
}
.creatWorkroom {
    width: 164px!important;
}
.mailSquare .imageExit {
    background: url(../img/icon/exitProfile.png) no-repeat;
}

.dashedHr {
	border: 0;
    border-bottom: 1px dashed #dedede;
}

h4.sbMaker {
    margin: 6px;
}
.sbMakerAfter {
    color: #9a9a9a;
    font-size: 12px;
}
p.sbAnotation {
	margin: 0;
	font-size: 14px;
	font-style:italic;
	color: #7a7a7a;
	border-top: 1px #dedede dashed;
	border-bottom: 1px #dedede dashed;
	padding: 10px 24px;
	margin-bottom: 10px;
	text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
p.uLabel {
    font-size: 10px;
    margin: 0;
    position: absolute;
    top: 305px;
    right: 5px;
    font-style: italic;
    color: #aeaeae;
}

/*--- Правая сторона ---*/
.rightContent {
    width: 880px;
    float: right;
}

.rightMenu {
    width: 100%;
    height: 50px;
    background: #fff;
    margin-bottom: 20px;
}
.rightMenu ul {
    margin: 0;
    padding: 0;
    list-style-image: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    float: left;
}
.rightMenu ul > li { 
	margin: 0;
	font-size: 14px;
	text-transform:uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	transition: .2s;
	cursor: pointer;
	border-right: #ededed 1px solid;
	display:inline-block;
    margin-right: -5px;
}
.rightMenu ul > li:hover {
    color: #fc6060;
    transition: .1s;
}
.rightMenu ul > li.active {
    background: #fc6060;
    color: #fff;
    cursor: default;
}
.rightMenu ul > li a {
    display: block;
    width: 100px;
    padding: 16px 20px;
    text-align:center;
}
.productViewButton {
    padding: 10px;
    float: right;
}
.productViewButton img{
    height: 30px;
    cursor: pointer;
    opacity: .4;
    transition: .2s;
}
.productViewButton img:hover {
    opacity: .8;
}

.workElement {
    width: 280px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    float: left;
    margin-bottom: 20px;
    margin-right:20px;
    background: #fff;
    position: relative;
}

.workInfo {
    padding: 10px;
    width: 260px;
    display: block;
}
.workElement img {
    margin-right: 20px;
    width: 280px;
    height: 280px;
    display: block;
}
.workElement h3 {
    margin: 0;
    color: #3a3a3a;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
}
.workElement p.workPrice {
	margin: 0;
    font-size: 14px;
    text-align: center;
    color: #0a0a0a;
    font-weight: bold;
}

.workElement .linkButton i {
    color:#f5f5f5;
    margin: 11px;
    font-size: 1.22em;
}

.workElement.fourElement {
    width: 205px;
}
.workElement.fourElement img {
    width: 205px;
    height: 205px;
    display: block;
}
.workInfo.fourElement {
    width: 195px;
    padding: 5px;
    display: block;
}
.workInfo.fourElement h3, .workInfo.fourElement p {
    font-size: 12px;
    margin: 0px;
}
.workInfo.fourElement p {
    margin-bottom: 4px;
}
.workElement.fourElement .smallButton i {
    color:#f5f5f5;
    margin: 8px;
    font-size: 1.23em;
}
.workElement:nth-of-type(3n), .workElement.fourElement:nth-of-type(4n) {
    margin-right: 0px;
} 
.workElement:nth-of-type(4n), .workElement.fourElement:nth-of-type(3n) {
    margin-right: 20px;
}

.likeButton {
    position: absolute;
    transition: .3s;
    top: 0px;
    right: 0px;
    display: none;
}

.workElement:hover .likeButton {
    display: block;
}

.workElement:hover .viewBanner{
    opacity: 1;
    top: 250px;
}
.workElement.fourElement:hover .viewBanner{
    opacity: 1;
    top: 175px;
}

.workElement.fourElement .viewBanner {
    top: 185px;    
}
.workElement .viewBanner {
    top: 260px;
}
.viewBanner {
    width: 100%;
    height: 30px;
    background: rgba(255,255,255,.9);
    position: absolute;
    opacity: 0;
    transition: .3s;
    text-align: center;
}
.viewBanner i {
    color: #4e4e4e;
    font-size: 1.4em;
    padding: 5px;
}
.likeButton i {
    color:#fff;
    padding: 5px;
    font-size: 1.5em;
    text-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.rating {
    text-align:center;
    margin: -3px 0 12px;
}
.rating span {
    font-size: 12px;
    font-weight: 700;
    margin-right: 10px;
    position: relative;
}
.rating span.up {
    /*color: #3891C9;*/
    color: #7f7f7f;
}
.rating span.middle {
    color: #7f7f7f;
}
.rating span.down {
    /*color: #fc6060;*/
    color: #7f7f7f;
}
.ratingUp, .ratingMiddle, .ratingDown {
	background-image: url(../img/icon/rating.png);
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 4px;
    vertical-align: middle;
}
.ratingUp {
    background-position: 0 0;
}
.ratingMiddle {
    background-position: 0 -15px;
}
.ratingDown {
    background-position: 0 -30px;
}

/*--- Открытие мастерской ---*/
.createBody {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    padding: 20px;
    width: 840px;
}
.createForm h2 {
    margin: 10px 0;
    color: #2a2a2a;
}
.createForm {
    color: #3a3a3a;
    font-size: 14px;
}
.createBody textarea {
    width: 380px;
    height: 209px;
    resize: none;
    padding: 10px;
    margin-bottom: 20px;
}
.createBody input[type=text], .createBody input[type=password], .createBody input[type=email] {
	width: 390px;
	height: 34px;
	margin: 0 0 10px;
	padding-left: 10px;
	font-size: 12px;
}

.leftSidebar.createForm {
    padding: 0 20px;
    width: 260px;
    font-size: 13px;
}
.leftSidebar.createForm img {
    width:200px;
    height: 200px;
    padding: 30px;
}

.createForm img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.createForm label {
    font-weight: 700;
    margin-bottom: 10px;
    color: #2a2a2a;
    font-size: 16px;
}
.createBody .formReg {
    float: left;
    margin-right: 100px;
}
.createBody .formPay {
    float: left;
    margin-right: 100px;
}

input, textarea {
    border: 1px solid #cecece;
    transition: .2s;
}
input:focus, textarea:focus {
    border: 1px solid #fc6060;
    outline: none;
    transition: .5s;
}
.s123 {
    display: flex;
}
.buttonCreate {
    float: right;
    margin: 40px 0 10px!important;
}

/*--- Товары ---*/
.productBody {
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    background: #fff;
}
.productContent {
    padding: 20px;
}
.productContent h1 {
    margin: 10px 0 15px;
}
.productContent img {
    width: 500px;
    height: 350px;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
}
.productText {
    width: 300px;
    float: left;
    line-height: 26px;
}
.productDescript {
    font-style: italic;
    line-height: initial;
    font-size: 16px;
    color: #3a3a3a;
    text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.breadcrumbs {
    font-size: 12px;
    text-transform:uppercase;
    color: #9a9a9a;
    word-spacing: 5px;
}

/*--- Подвал ---*/
footer {
    background: #2a2a2a;
    color: #f5f5f5;
    padding: 16px 0;
    font-size: 14px;
    height: 40px;
}
footer img {
    float: left;
    margin-right: 70px;
}
footer p {
    width: 340px;
    float: left;
    margin: 0;
    font-style: italic;
}
footer a {
    color: #fc6060;
    transition: .1s;
}
footer a:hover {
    color: #E25656;
    transition: .3s;
}
.footerLeft {
    float: left;
}
.footerRight {
    float: right;
    text-align: right;
}

/*--- Workroom Preview ---*/
.workroomPreview {  
    width: 390px;
    padding: 20px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.workroomPreview:nth-child(2n) {
    margin-right: 0px;
}
.workroomPreview img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.workroomPreview h4.noneElement {
    width: 390px;
    background: #f1f1f1;
    color: #7a7a7a;
    font-weight: 100;
    text-align: center;
    padding: 35px 0px;
    margin: 0px;
}
.workroomPreview h3 {
    margin: 0;
    margin-bottom: 5px;
    color: #2a2a2a;
}
.workroomPreview h4 {
    margin: 10px 0;
    font-size: 16px;
}
.workroomPreview p {
    font-size: 14px;
    color: #5a5a5a;
    clear: both;
    padding-left: 10px;
    font-style: italic;
    text-align: justify;
    margin: 0;
    height: 55px;
    overflow: hidden;
    border-left: 5px solid #fc6060;
}
.workroomPreview .rating {
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
}
.lastProduct a > img{
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}
.lastProduct a:nth-child(4n) > img {
    margin-right: 0px;
}
.smallButton {
    width: 40px;
    height: 40px;
    background-color: #fc6060;
    float: left;
    margin-right: 5px;
    transition: .3s;
}
.smallButton.mail {
    background-image: url(../img/icon/mail.png);
    background-repeat: no-repeat;
    background-position: 12px;
}
.smallButton.review {
    background-image: url(../img/icon/review.png);
    background-repeat: no-repeat;
    background-position: 12px 14px;
}
.smallButton.profile {
    background-image: url(../img/icon/login.png);
    background-repeat: no-repeat;
    background-position: 12px;
}
.smallButton:hover {
    background-color: #E25656;
    transition: .2s;
}

input.bigButton { 
    width: 135px;
    height: 40px;
    background: #fc6060;
    margin: 0px;
    border-radius: 0px;
}

/*--- НОВОЕ ---*/
.leftSidebar p.content{
    padding: 0px 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.rightContentBlockSmall {
    width: 280px;
    float: left;
    margin-right: 20px;
}
.rightContentBlockBig {
    width: 500px;
    float: left;
    font-size: 14px;
}
img.leftImg {
    width: 200px;
    height: 200px;
}
.rightContentBlockSmall input[type="text"] {
    width: 269px;
    margin-bottom: 10px;
}
.rightContentBlockSmall img {
    margin-bottom: 10px;
}
.rightContentBlockBig textarea {
    width: 479px!important;
    height: 55px;
    margin-bottom: 10px;
    text-align: justify;
}
.rightContentBlockBig textarea.second {margin-bottom: 0px;}
.rightContentBlockBig textarea::-webkit-input-placeholder {font-style: italic;}
.rightContentBlockBig textarea::-moz-placeholder          {font-style: italic;}
.rightContentBlockBig textarea:-moz-placeholder           {font-style: italic;}
.rightContentBlockBig textarea:-ms-input-placeholder      {font-style: italic;}

input[type="text"].sizeProduct {
    width: 50px;
    float: left;
    margin-right: 10px;
}
input[type="text"].sizeProduct.last, input[type="text"].weightProduct.last {margin-right: 5px;}
input[type="text"].weightProduct {
    width: 55px;
    float: left;
}
.sizeLabel {
    float: left;
    margin-right: 10px;
    margin-top: 8px;
}
.weightLabel {
    float: left;
    margin: 0px 10px 0 40px;
    margin-top: 8px;
}
.metricLabel {
    float: left;
    margin-top: 8px;
}
.fontLavel {
    margin-bottom: 5px;
}
.sizeLabel, .weightLabel, .fontLavel, .metricLabel {
    color: #3a3a3a;
}

.rightContentBlockBig select, .rightContentBlockSmall select {
    width: 100%;
    padding: 10px 7px;
    border-color: #cecece;
    margin-bottom: 10px;
}
.rightContentBlockBig select:focus, .rightContentBlockSmall select:focus {
    border-color: #fc6060;
    outline: none;
    transition: .5s;
}
.rightContentBlockBig select[multiple] {
    padding: 0px;
}
.rightContentBlockBig select[multiple] option{ 
    display: block;
    padding: 5px 0px;
    padding-left: 10px;
    border-bottom: #efefef 1px solid;
}
.rightContentBlockBig select option:checked {
    color: #fff;
    background-color: #fc6060!important;
}

.agreeRulesLabel {
    float: left;
    font-size: 14px;
    color: #9a9a9a;
}
.agreeRulesLabel a {
    color: #5a5a5a;
    text-decoration: underline;
}