@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
    <div class="center">
        <h2>@ViewBag.Title.</h2>
        <p>Добро пожаловать на портал белорусского творчества podelka.by!</p>
        <p>Почему портал называется podelka.by? А мы сами не знаем.</p>
        <h3>Для кого мы работаем?</h3>
        <p>Наши основные читатели- это ремесленники, дизайнеры Беларуси, а также все, кто увлекается рукоделием.</p>
        <h3>Какова наша цель?</h3>
        <p>Мы создаем ресурс, на котором можно найти все для творчества, начиная от иголки, заканчивая вдохновением.</p>
        <h3>Что у нас есть интересного?</h3>
        - ежедневно новые статьи о рукоделии, интересное и потрясающие, новости и анонсы;
        - постоянно обновляющийся календарь мероприятий творческой жизни нашей страны;
        - понятные поэтапные мастер-классы с отличными идеями;
        - сообщество дизайнеров и мастеров ручной работы Беларуси (более 1 500 подписчиков);
        - каталог магазинов рукоделия Беларуси;
        - каталог изделий и коллекций ручной работы (более 5 000 работ);
    </div>