@{
    ViewBag.Title = "Забыли пароль подтверждение";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="center">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Пожалуйста, проверьте свою электронную почту, чтобы восстановить свой пароль
        </p>
    </div>
</div>