@{
    ViewBag.Title = "Замена старого пароля на новый подтверждение";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="center">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Ваш пароль был изменен на новый. Пожалуйста, @Html.ActionLink("нажмите здесь, чтобы войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>