@{
    ViewBag.Title = "Мастерские";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@model ICollection<Podelka.Models.WorkroomPreviewModel>

<div class="profileView clearfix">
    <div class="center">
        <div class="rightContent">
            @Html.Partial("_WorkroomPreview", Model)
        </div>
    </div>
</div>