@{
    ViewBag.Title = "Мастерская";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model Podelka.Models.WorkroomProfileModel
<div class="profileView clearfix">
    <div class="center">
        <div class="leftSidebar">
            <img class="sbAvater" src='~/Content/img/first_workshop.jpg'>
            <span class="sbMakerAfter">Мастерская</span>
            <h3 class="sbName">"@Model.Name"</h3>
            @Html.Partial("_InfoWorkroomPersonal", Model)
        </div>
        <div class="rightContent">
            <div class="rightMenu">
                <ul>
                    <li class="active"><a href="#">Товары</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
            </div>
            <div class="rightBody">
                @Html.Action("Products", "Workroom", new { id = Model.WorkroomId })
            </div>
        </div>
    </div>
</div>