@{
    ViewBag.Title = "Категории";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model ICollection<Podelka.Models.ProductPreviewModel>
    <div class="profileView clearfix">
        <div id="rightBody" class="center">
            <div class="rightContent">
                <div id="rightMenu" class="rightMenu">
                    <ul></ul>
                    <div class="productViewButton">
                        <img src="~/Content/img/icon/three-view.png" title="Три товара в ряд" onclick="Preview3()">
                        <img src="~/Content/img/icon/four-view.png" title="Четыре товара в ряд" onclick="Preview4()">
                    </div>
                </div>
                @Html.Partial("_ProductPreview", Model)
            </div>
        </div>
    </div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script>
        function Preview3()
        {
            $('#rightBody #workElement').removeClass('fourElement');
            $('#rightBody #workInfo').removeClass('fourElement');
        };
        function Preview4()
        {
            $('#rightBody #workElement').addClass('fourElement');
            $('#rightBody #workInfo').addClass('fourElement');
        };
    </script>
}