@{
    ViewBag.Title = "Категории";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@model ICollection<Podelka.Models.ProductPreviewModel>
    <div class="profileView clearfix">
        <div id="rightBody" class="center">
            <div class="rightContent">
                <div id="rightMenu" class="rightMenu">
                    <ul></ul>
                    <div class="productViewButton">
                        <img src="~/Content/img/icon/three-view.png" title="Три товара в ряд" onclick="Preview3()" id="previewProdTheree" />
                        <img src="~/Content/img/icon/four-view.png" title="Четыре товара в ряд" onclick="Preview4()" id="previewProdFour" />
                    </div>
                </div>
                <div id="rightBody" class="rightBody clearfix">
                    @Html.Partial("_ProductPreview", Model)
                </div>
            </div>
        </div>
    </div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}