@{
    ViewBag.Title = "Категории";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using Podelka.Core.Source
@model Podelka.Models.ProductsPaginationModel
    <div class="profileView clearfix">
        <div id="rightBody" class="center">
            <div class="rightContent">
                <div id="rightMenu" class="rightMenu">
                    <ul></ul>
                    <div class="productViewButton">
                        <img src="@Url.Content("~/Content/img/icon/three-view.png")" alt="" title="Три товара в ряд" id="previewProdThree" />
                        <img src="@Url.Content("~/Content/img/icon/four-view.png")" alt="" title="Четыре товара в ряд" id="previewProdFour" />
                    </div>
                </div>
                <div id="rightBody" class="rightBody clearfix">
                    @Html.Partial("_ProductPreviewSection", Model)
                </div>
            </div>
        </div>
    </div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
}