@model ICollection<Podelka.Models.ProductPreviewModel>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="workElement">
            <img src="~/Content/img/280x280.gif">
            <div class="workInfo">
                <h3>@item.Name</h3>
                @if (item.Price != null)
                {
                    double Price = (double)item.Price;
                    <p class="workPrice">@Price.ToString("#,#", System.Globalization.CultureInfo.InvariantCulture) бел.руб</p>
                }
                <input type="button" value="Подробнее" onclick="location.href='@Url.Action("Profile", "Product", new { id = item.ProductId })'" />
            </div>
        </div>
    }
}