@model ICollection<Podelka.Models.ProductPreviewModel>
@if (Model != null)
{
    foreach (var item in Model)
    {
                <div class="workElement fourElement clearfix">
                    <img src="~/Content/img/205x205.gif">
                    <div class="workInfo fourElement">
                        <h3>@item.Name</h3>
                        @if (item.Price != null)
                        {
                            double Price = (double)item.Price;
                            <p class="workPrice">@Price.ToString("#,#", System.Globalization.CultureInfo.InvariantCulture) бел.руб</p>
                        }
                        <a class="smallButton" href="@Url.Action("FavoriteRemove", "Product", new { id = item.ProductId, returnUrl = Request.RawUrl })">
                            <i class="fa fa-star-o"></i>
                        </a>
                        <input type="button" value="Подробнее" onclick="location.href='@Url.Action("Profile", "Product", new { id = item.ProductId })'" />
                    </div>
                </div>
    }
}

