@model ICollection<Podelka.Models.ProductPreviewModel>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <a href="@Url.Action("Profile", "Product", new { id = item.ProductId })">
            <div id="workElement" class="workElement fourElement clearfix">
                @{
                    string mapPath = HttpContext.Current.Server.MapPath("/Files");
                    bool isProductImage = File.Exists(@"" + mapPath + "\\Products\\" + item.ProductId + "-product.profile.jpg");
                }
                @if (isProductImage)
                {
                    <img src='~/Files/Products/@item.ProductId-product.profile.jpg'>
                }
                else
                {
                    <img src="~/Content/img/product.image.jpg" />
                }
                <div id="workInfo" class="workInfo fourElement">
                    <h3>@item.Name</h3>
                    @if (item.Price != null)
                    {
                        double Price = (double)item.Price;
                        <p class="workPrice">@Price.ToString("#,#", System.Globalization.CultureInfo.InvariantCulture) руб</p>
                    }
                    <a class="likeButton" href="@Url.Action("FavoriteRemove", "Product", new { id = item.ProductId, returnUrl = Request.RawUrl })">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
            </div>
        </a>
    }
}